<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zht.samplewidget">

    <!-- 写入SDcard的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.DemoActivity"/>
        <activity android:name=".activity.DownloadAvtivity"/>
        <activity android:name=".activity.MakeViewPictrue"/>
        <activity android:name=".activity.HstogramActivity"/>
        <activity android:name=".activity.ViewPagerActivity"/>
        <activity android:name=".RecyclerView.RecyclerViewActivity"/>
        <activity android:name=".activity.ProgressActivity" />
        <activity android:name=".activity.LotteryNumberActivity" />
        <activity android:name=".activity.CheckViewActivity" />
        <activity android:name=".PieChart.activity.PielineChartActivity" />
        <activity android:name=".activity.DropDownActivity" />
        <activity android:name=".activity.LineChartActivity" />
        <activity android:name=".activity.AutoLayoutActivity" />


    </application>

</manifest>